.header{
    padding: 1rem 2rem;
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: rem; */
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon{
    font-size: 40px;
    margin-right: 10px;
}

.row-etiqueta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #e2e2e2;
}

.float-icon{
    position: absolute !important;
    right: 10%;
    bottom: 10%;
}

@media only screen and (max-width: 680px) {

    .logo-icon{
        font-size: 30px;
    }


    .title{
        font-size: 25px;
    }

    .header{
        padding: 1rem;
    }

    .btn-text{
        display: none;
    }
    

}