.id{
    text-align: center;
    margin-top: 1rem;
}

.print-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.QRCode{
    width: 8rem !important;
}

.print-button{
    width: 20rem;
    margin-top: 0.3rem;
}

