.id{
    text-align: center;
    margin-top: 1rem;
}

.print-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.QRCode{
    padding-top: 2rem;
    width: 50%;
    margin: 0 auto;
}

.print-button{
    width: 20rem;
    margin-top: 2rem;
}

@media print {
    .no-print {
      display: none;
    }
  }